*{
    margin: 0;
    padding: 0;
}
main{
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    align-items: center;
}
.container, .form-container{
    display: flex;
    flex-direction: column;
    background-color: rgb(245, 245, 245);
    padding: 50px;
    border-radius: 16px;
}
.cadastro-button{
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    color: aliceblue;
}
.input-text{
    padding: 15px 40px;
    border-radius: 8px;
    border: 1px solid #000;
}

.cadastro-button:hover{
    background-color: #fff;
    color: #000;
    border-color: #000;
}
