*{
    margin: 0;
    padding: 0;
}
main, form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    background-color: rgb(238, 238, 238);
}

form{
    
    padding: 30px;
}
input form{
    padding: 15px;
    border-radius: 8px;
}